<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl-web.dropbox.com/get/ServiceManager_OverTheAirInstallation/ServiceManager.ipa?_download_id=119024204471963602759141613303661781974291035632457571816391308259&_notify_domain=www.dropbox.com&_subject_uid=1329782224&dl=1&w=AAAH82XJUhVhxisJOrEqYMItqVEiW4iVUHhdHRiI2q2KLg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://dl-web.dropbox.com/get/ServiceManager_OverTheAirInstallation/icon.png?_download_id=282166033231430204523757684234653477681421800571632415117299975216&_notify_domain=www.dropbox.com&_subject_uid=1329782224&dl=1&w=AACaBjIf-4wJscT_WWGZbbV_bf2V14gfJ1jc77Gq8IBf9w</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://dl-web.dropbox.com/get/ServiceManager_OverTheAirInstallation/icon.png?_download_id=282166033231430204523757684234653477681421800571632415117299975216&_notify_domain=www.dropbox.com&_subject_uid=1329782224&dl=1&w=AACaBjIf-4wJscT_WWGZbbV_bf2V14gfJ1jc77Gq8IBf9w</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bison.mobile.servicemanager</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ServiceManager</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl-web.dropbox.com/get/ServiceManager_OverTheAirInstallation/ServiceManager-iPad%20(4th%20generation)-etc.ipa?_download_id=459341926140850926057433061646058071384396074029314747595685349&_notify_domain=www.dropbox.com&_subject_uid=1329782224&dl=1&w=AADnmzTP59QgEIt3GSBxflzmKLCMYOsb6EOgmMhfQLkjUw</string>
					<key>variantIds</key>
					<array>
						<string>iPad3,6</string>
						<string>iPad3,4</string>
						<string>iPad3,2</string>
						<string>iPad3,5</string>
						<string>iPad3,3</string>
						<string>iPad3,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl-web.dropbox.com/get/ServiceManager_OverTheAirInstallation/ServiceManager-iPad%202-etc.ipa?_download_id=8991927216105884234618885882276429878463532148354646451006089402&_notify_domain=www.dropbox.com&_subject_uid=1329782224&dl=1&w=AAA0BSl8vG9PfGUSeDOiKojSR2bt84GFhPZNyH53Z3G8tw</string>
					<key>variantIds</key>
					<array>
						<string>iPad2,3</string>
						<string>iPad2,2</string>
						<string>iPad2,1</string>
						<string>iPad2,7</string>
						<string>iPad2,6</string>
						<string>iPad2,5</string>
						<string>iPad2,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl-web.dropbox.com/get/ServiceManager_OverTheAirInstallation/ServiceManager-iPad%20Pro%20(12.9-inch)-etc.ipa?_download_id=3394813160749821476175878365882775872366222851219588433265394407&_notify_domain=www.dropbox.com&_subject_uid=1329782224&dl=1&w=AADhEhEfrneoGj2YdhfGn25hSYBW9HaYCsQgIL5F7UgK5A</string>
					<key>variantIds</key>
					<array>
						<string>iPad7,4</string>
						<string>iPad4,5</string>
						<string>iPad6,3</string>
						<string>iPad4,6</string>
						<string>iPad5,1</string>
						<string>iPad6,11</string>
						<string>iPad6,4</string>
						<string>iPad5,2</string>
						<string>iPad4,7</string>
						<string>iPad4,1</string>
						<string>iPad4,8</string>
						<string>iPad5,3</string>
						<string>iPad6,12</string>
						<string>iPad7,1</string>
						<string>iPad4,2</string>
						<string>iPad4,9</string>
						<string>iPad5,4</string>
						<string>iPad7,2</string>
						<string>iPad6,7</string>
						<string>iPad4,3</string>
						<string>iPad7,3</string>
						<string>iPad6,8</string>
						<string>iPad4,4</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
